{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Hero Section -->
<div class="bg-slate-500">
    <div class="flex w-4/5 max-w-3xl mx-auto my-0">
        <div class="w-1/2">
            <h1 class="text-white text-4xl font-bold">The workout tracker for calisthenics!</h1>
            <p>Subtitle text</p>
        </div>
        <img class="max-h-96" src="{% static 'images/gabin-vallet-XUn7yMZH2yg-unsplash.jpg' %}" alt="Man logging exercise and woman doing a pullup.">
    </div>
</div>

<!-- Product Intro -->
 <div class="bg-white text-black">
    <p> Text for the product intro</p>
 </div>

<!-- Call to Action -->
{% endblock content %}
