{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Hero Section -->
<div class="bg-slate-500 -mt-6">
    <div class="flex w-4/5 max-w-3xl mx-auto my-0 justify-between py-12">
        <div class="w-1/2">
            <h1 class="text-white text-4xl font-bold">The workout tracker for calisthenics!</h1>
            <p>{% lorem 20 w %}</p>
            <a href="{% url 'account_signup' %}" class="bg-white px-8 py-4 rounded mt-4 inline-block">Sign Up </a>
        </div>
        <img class="self-start w-1/3" src="{% static 'images/gabin-vallet-XUn7yMZH2yg-unsplash.jpg' %}" alt="Man logging exercise and woman doing a pullup.">
    </div>
</div>

<!-- Product Intro -->
 <div class="bg-white text-black">
    <p> Text for the product intro</p>
 </div>

<!-- Call to Action -->
{% endblock content %}
